@model IEnumerable<Rocinante.Models.Job>

@{
    ViewData["Title"] = "Results";
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card-group shadow" style="width: 20rem">
                    <div class="card-body">
                        <h5 class="card-title"><a href="@item.Link)">@item.Title</a></h5>
                        <p>@item.Company</p>
                        <p class="card-text">@Html.Raw(item.Snippet)</p>
                        <p><small class="text-muted">@item.Location</small></p>
                        @{
                            var days = int.Parse(DateTime.Now.Subtract(Convert.ToDateTime(@item.Updated)).Days.ToString());
                            if (days == 0)
                            {
                                <p><small class="text-muted">Posted  To day</small></p>
                            }
                            else if (days == 1)
                            {
                                <p><small class="text-muted">Posted yesterday</small></p>
                            }
                            else if (days >= 31)
                            {
                                <p><small class="text-muted">Posted +31 days ago</small></p>
                            }
                            else
                            {
                                <p><small class="text-muted">Posted  @days days ago</small></p>
                            }
                        }
                        <a asp-action="AddToTracker" asp-route-jobId="@item.JobId" class="btn btn-primary">Add To Job Tracker</a>
                    </div>
                </div>

            </div>



        }

    </div>
    <div class="clearfix visible-md"></div>
</div>

