@model IEnumerable<Rocinante.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Snippet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfApplication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyWebsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoDoYouKnowHere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Snippet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfApplication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyWebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhoDoYouKnowHere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
